.App {
  max-width: 2024px;
}
.navbar, .navbar-default {
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.navbar-brand {
  font-family: 'UnifrakturCook', cursive;
  font-size: 2em;
  margin: 0;
  padding: 0;
  color: rgb(46, 122, 159);
}
.nav-link {
  font-family: 'Fredoka One', cursive;
  color: rgb(46, 122, 159)!important;
}
.nav-link::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: rgb(46, 122, 159);
  transition: width .3s;
}
.nav-link:hover::after {
  width: 100%;
  transition: width .3s;
}
.con-jumbo {
  height: auto;
  background: #E0EAFC;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #CFDEF3, #E0EAFC);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #CFDEF3, #E0EAFC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.col-jumbo {
  font-family: 'Coiny', cursive;
  color: rgb(62, 140, 177);
  text-shadow: 2px 2px 5px #868181;
}
.h1-jumbo {
  font-size: 3.5em;
  font-family: 'Berkshire Swash', cursive;
  color: rgb(62, 140, 177);
}
.col-jumbo p{
  font-size: 2.5em;
  font-weight: lighter;
}
.hr-tab {
  font-size: 1.2em;
  letter-spacing: 5px;
  margin-top: 80px;
  color: #ccc!important;
  font-family: sans-serif!important;
}
.img-profile {
  width: 230px;
  height: 215px;
  border-radius: 50%;
  border: 2px solid rgb(43, 47, 48);
}
.h1-main {
  text-align: center;
  letter-spacing: 3px;
  font-weight: lighter;
  color: rgb(40, 85, 106);
  font-family: 'Fredoka One', cursive;
}
.con-profile p{
  margin-top: 10px;
  font-family: 'Comfortaa', cursive;
  text-align: justify;
  word-spacing: 2px;
  color: rgb(43, 47, 48);
}
.hi {
  font-size: 1.5em;
}
.mt {
  margin-top: 60px;
}
.py {
  padding: 0 30px;
}
.overlay{
  padding-left: 5px;
  width: 100px;
  height: 50px;
  background-image: linear-gradient(90deg, rgb(106, 160, 186, .7), white);
  border-radius: 2px;
}
.overlay-1 {
  background-image: linear-gradient(45deg, rgb(31, 31, 31, .7), rgb(56, 56, 56, .7));
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  padding: 10px;
}
td, th {
  border: 1px solid rgb(74, 73, 73);
  text-align: left;
  padding: 8px;
}
tr:nth-child(even) {
  background-color: #ddd;
  color: rgb(47, 47, 47);
}
h3 {
  font-family: 'Fredoka One', cursive;
  text-shadow: 2px 2px 5px #616161;
}
.personal {
  font-family: 'Comfortaa', cursive;
  list-style: outside;
}
.progress-label {
  font-family: 'Comfortaa', cursive;
  font-weight: lighter;
}

/* Footer */
.bg-light {
  background-color: #eee!important;
}
.bd-footer {
  font-size: 90%;
  text-align: left;
}
.bd-footer-link {
  list-style: none;
  display: flex;
  padding: 0;
  right: 0;
}
.bd-footer-link a{
  padding-right: 15px;
  color: #495057;
}
.email a{
  color: #495057;
}
.fab {
  width: 40px;
}
.fa-instagram, .fa-facebook-square, .fa-gitlab, .fa-linkedin {
  font-size: 1.5em;
}
